header {
    height: 70px;
    width: 100%;
    display: flex;
    background-color: grey;
    position: fixed;
  }
  
  .nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 1rem;
  }